/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/upload
/public/frontend
/public/backend/css
/public/backend/Employee_Image
/public/backend/js
/public/backend/lib
/DB
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
